.form{
    width:100%;
}

.img{
    width:100%;
    aspect-ratio: 1 / 1;
    display: block;
    object-position: center;
    object-fit:cover;
}

.blue-load {
    background-size:cover;
    background-position: center;
}

